@* @page
@model DiamondStore.Pages.ProductModel

@{
    Layout = "_Layout";
    var sortOptions = new List<string> { "Price, Low To High", "Price, High To Low", "Alphabetically, A-Z", "Alphabetically, Z-A", "Date, New To Old" };
}

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix">
                        <h4 class="mgt">Product</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a href="~/">Home</a> / Product</h6>
                    </div>
                </div>
            </div>
            <div class="center_shop_1 clearfix">
                <div class="col-sm-3">
                    <div class="center_shop_1l clearfix">
                        <div class="center_shop_1li clearfix">
                            <h5 class="mgt">CATEGORY</h5>
                            <div class="ziehharmonika">
                                <h3 data-prefix="★" class="@(Model.CategoryId == null ? "active" : "")">
                                    <a href="?SortOption=@Model.SortOption">All</a>
                                </h3>
                                @foreach (var category in Model.Categories)
                                {
                                    <h3 data-prefix="★" class="@(Model.CategoryId == category.DiamondTypeId ? "active" : "")">
                                        <a href="?CategoryId=@category.DiamondTypeId&SortOption=@Model.SortOption">@category.DiamondTypeName</a>
                                    </h3>
                                }
                            </div>
                        </div>
                        <div class="center_shop_1li1 clearfix">
                            <h5 class="mgt">POPULAR TAGS</h5>
                            <div class="center_shop_1li1i clearfix">
                                <ul class="mgt">
                                    <li><a href="#">Phone</a></li>
                                    <li><a href="#">Vest</a></li>
                                    <li><a href="#">Smartphone</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">T-shirt</a></li>
                                    <li><a href="#">Sweatpants</a></li>
                                    <li><a href="#">Sneaker</a></li>
                                    <li><a href="#">Toys</a></li>
                                    <li><a href="#">Rose</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="center_shop_1li1 clearfix">
                            <h5 class="mgt">NEWSLETTERS</h5>
                            <h6>Sign Up for Our Newsletter!</h6>
                            <input class="form-control" placeholder="Subscribe" type="text">
                            <h6><a class="button_1 mgt" href="#">Subscribe</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="center_shop_1r clearfix">
                        <div class="center_product_1r2 clearfix">
                            <div class="col-sm-6">
                                <div class="center_product_1r2l clearfix">
                                    <p class="mgt">Showing @Model.Diamonds.Items.Count of @Model.Diamonds.TotalItemsCount results</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="center_product_1r2r text-right clearfix">
                                    <h5 class="mgt">SORT BY</h5>
                                    <select class="form-control" id="subject" name="subject" onchange="location.href='?CategoryId=@Model.CategoryId&SortOption=' + this.value">
                                        @foreach (var option in sortOptions)
                                        {
                                            <option value="@option" selected="@(Model.SortOption == option)">@option</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="collcet_1r clearfix">
                            @foreach (var diamond in Model.Diamonds.Items)
                            {
                                <div class="col-sm-4 space_left">
                                    <div class="feature_2im clearfix">
                                        <div class="feature_2im1 clearfix">
                                            <a href="#"><img src="img/8.jpg" class="iw" alt="product"></a>
                                        </div>
                                        <div class="feature_2im2 clearfix">
                                            <h6 class="mgt"><a class="bg_1" href="#">@diamond.DiamondName</a></h6>
                                            <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
                                        </div>
                                        <div class="feature_2im4 clearfix">
                                            <div class="col-sm-6 space_left">
                                                <h6><a class="bg_3" href="#">Popular</a></h6>
                                            </div>
                                            <div class="col-sm-6 feature_2im4r space_right">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item_last text-center clearfix">
                                        <h4><a href="#">@diamond.DiamondName</a></h4>
                                        <h6>
                                            <span class="span_1 col_1 bold">@diamond.DiamondPrice.PricePerCarat</span>
                                            <span class="col_2 span_2">$16.30</span>
                                            <span>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product_1_last text-center clearfix">
                            <div class="col-sm-12">
                                <ul>
                                    <li class="@(Model.PageIndex == 1 ? "disabled" : "")">
                                        <a href="?CategoryId=@Model.CategoryId&SortOption=@Model.SortOption&PageIndex=@(Model.PageIndex > 1 ? Model.PageIndex - 1 : 1)"><i class="fa fa-chevron-left"></i></a>
                                    </li>
                                    @for (int i = 1; i <= Model.Diamonds.TotalPagesCount; i++)
                                    {
                                        <li class="@(Model.PageIndex == i ? "act" : "")">
                                            <a href="?CategoryId=@Model.CategoryId&SortOption=@Model.SortOption&PageIndex=@i">@i</a>
                                        </li>
                                    }
                                    <li class="@(Model.PageIndex == Model.Diamonds.TotalPagesCount ? "disabled" : "")">
                                        <a href="?CategoryId=@Model.CategoryId&SortOption=@Model.SortOption&PageIndex=@(Model.PageIndex < Model.Diamonds.TotalPagesCount ? Model.PageIndex + 1 : Model.Diamonds.TotalPagesCount)"><i class="fa fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Include jQuery and other scripts for dynamic behavior if not already included in the layout -->
<script>
    $(document).ready(function () {
        $('.ziehharmonika').ziehharmonika({
            collapsible: true,
            prefix: '★'
        });
    });
</script>
 *@